/*
 * Font stack
 */

body {
  font-family: "GDS Transport", Arial, sans-serif;
}


/*
 * Colours
 */

/* Background colours */
body {
  background-color: #f0f2f5;
}

/* Text colours */
.govuk-body, .govuk-input, .govuk-textarea, .govuk-label {
  color: #0b0c0c;
}

.govuk-header__logotype-text, .govuk-header__link--homepage, .govuk-header__link {
  color: #0b0c0c !important;
}

/* Links */
.govuk-link {
  color: #005ea5;
}

.govuk-link:hover {
  color: #005ea5;
}

/* Buttons */
.govuk-button {
  background-color: #005ea5;
  border: none;
  color: #fff;
  font-weight: bold;
}

.govuk-button:hover {
  background-color: #1d70b8;
}

.govuk-button:focus {
  box-shadow: 0 0 0 4px #dfe3e6;
  outline: none;
}

.govuk-button:active {
  background-color: #0b0c0c;
}

.govuk-button--start {
  margin-top: 30px;
}

.govuk-button--disabled,
.govuk-button[disabled] {
  background-color: #bfc1c3;
  border: none;
  color: #fff;
  opacity: 0.5;
  pointer-events: none;
}

/* Headings */
.govuk-heading-xl, .govuk-fieldset__legend--xl {
  font-size: 48px;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 30px;
}

.govuk-heading-l, .govuk-fieldset__legend--l {
  font-size: 36px;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 20px;
}

.govuk-heading-m, .govuk-fieldset__legend--m {
  font-size: 24px;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 20px;
}

.govuk-heading-s, .govuk-fieldset__legend--s {
  font-size: 19.2px;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 15px;
}

.govuk-fieldset__legend {
  border: none;
  display: block;
  margin: 0;
  padding: 0;
}

/* Form */
.govuk-form-group {
  margin-bottom: 30px;
}

.govuk-form-group--error {
  margin-bottom: 0;
}

.govuk-label {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 5px;
}

.govuk-input, .govuk-select, .govuk-textarea {
  border: 1px solid #bfc1c3;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  font-size: 19.2px;
  margin-top: 5px;
  padding: 10px;
  width: 100%;
}

.govuk-input:focus, .govuk-select:focus, .govuk-textarea:focus {
  border-color: #005ea5;
  outline: none;
}

.govuk-input--error, .govuk-select--error, .govuk-textarea--error {
